.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.dropdown:hover .dropdown-menu {
  display: block;
}


/* Titles and paragraphs */

.paragraph{
  font: 200 15px Open Sans, Arial, Helvetica, sans-serif;
}
h1, .title-h1 {
  font: 300 25px Open Sans, Arial, Helvetica, sans-serif;
  color: #333333;
}

h2, .title-h2 {
  font: 300 15px Open Sans, Arial, Helvetica, sans-serif;
  color: #333333;
}



/* Footer */

.footer {
  bottom:0;
  height:60px;   /* Height of the footer */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and ( max-width:749px ){
  /* hide the last line and hr */
  footer .page-width:last-child,.site-footer__hr {
     display: none;
  }
  .site-footer__content {
     height: auto;padding: 0;
  }
  .site-footer__item-inner.site-footer__item-inner--html_content {
     display: flex;
     flex-direction: column;
  }
  .site-footer__item-inner.site-footer__item-inner--html_content div:first-child {
     order: 1;
  }
}
